	<button type="button" class="button button-icon-only bbcode-strike" accesskey="s" name="s" value=" Strike " onclick="bbfontstyle('[s]','[/s]');" title="{L_BBCODE_STRIKE_HELP}">
		<i class="icon fa-strikethrough fa-fw" aria-hidden="true"></i>
	</button>
	<button type="button" class="button button-icon-only bbcode-email" accesskey="e" name="email" value=" E-Mail " onclick="bbfontstyle('[mail=]','[/mail]');" title="{L_BBCODE_EMAIL_HELP}">
		<i class="icon fa-envelope fa-fw" aria-hidden="true"></i>
	</button>
	<button type="button" class="button button-icon-only bbcode-center" name="center" value=" Align Center " onclick="bbfontstyle('[align=center]','[/align]');" title="{L_BBCODE_ACENTER_HELP}">
		<i class="icon fa-align-center fa-fw" aria-hidden="true"></i>
	</button>
	<button type="button" class="button button-icon-only bbcode-justify" name="justify" value=" Align Justify " onclick="bbfontstyle('[align=justify]','[/align]');" title="{L_BBCODE_AJUSTIFY_HELP}">
		<i class="icon fa-align-justify fa-fw" aria-hidden="true"></i>
	</button>
	<button type="button" class="button button-icon-only bbcode-right" name="right" value=" Align Right " onclick="bbfontstyle('[align=right]','[/align]');" title="{L_BBCODE_ARIGHT_HELP}">
		<i class="icon fa-align-right fa-fw" aria-hidden="true"></i>
	</button>
	<button type="button" class="button button-icon-only bbcode-spoiler" name="spoiler" value=" Spoiler " onclick="bbfontstyle('[spoiler]','[/spoiler]');" title="{L_BBCODE_SPOILER_HELP}">
		<i class="icon fa-eye fa-fw" aria-hidden="true"></i>
	</button>
	<button type="button" class="button button-icon-only bbcode-yt" name="youtube" value=" Youtube " onclick="bbfontstyle('[youtube]','[/youtube]');" title="{L_BBCODE_YT_HELP}">
		<i class="icon fa-youtube-play fa-fw" aria-hidden="true"></i>
	</button>
