<input type="button" class="button2 bbcode-strike" accesskey="s" name="addbbcode4" value=" s " onclick="bbstyle(4)" title="{L_BBCODE_STRIKE_HELP}" />
<input type="button" class="button2 bbcode-email" accesskey="s" name="addbbcode4" value=" s " onclick="bbstyle(4)" title="{L_BBCODE_EMAIL_HELP}" />
<input type="button" class="button2 bbcode-center" accesskey="s" name="addbbcode4" value=" s " onclick="bbstyle(4)" title="{L_BBCODE_CENTER_HELP}" />
<input type="button" class="button2 bbcode-justify" accesskey="s" name="addbbcode4" value=" s " onclick="bbstyle(4)" title="{L_BBCODE_JUSTIFY_HELP}" />
<input type="button" class="button2 bbcode-right" accesskey="s" name="addbbcode4" value=" s " onclick="bbstyle(4)" title="{L_BBCODE_RIGHT_HELP}" />
<input type="button" class="button2 bbcode-spoiler" accesskey="s" name="addbbcode4" value=" s " onclick="bbstyle(4)" title="{L_BBCODE_SPOILER_HELP}" />
<input type="button" class="button2 bbcode-yt" accesskey="s" name="addbbcode4" value=" s " onclick="bbstyle(4)" title="{L_BBCODE_YT_HELP}" />