/****************************/
/*      Crizzo.de			*/
/* Extension by				*/
/* Christian Schnegelberger */
/****************************/


.bbcode-b, .bbcode-i, .bbcode-u, .bbcode-strike, .bbcode-quote, .bbcode-code, 
.bbcode-list, .bbcode-list-, .bbcode-asterisk, .bbcode-img, .bbcode-url, .bbcode-flash, .bbcode-color, .bbcode-email, 
.bbcode-center , .bbcode-justify , .bbcode-right, .bbcode-spoiler, .bbcode-yt, .bbcode-flash  {
	background-color: transparent ;
	background-repeat: no-repeat ;
	background-position: 50% 50% ;
	border: 0 ;
	display: block ;
	float: left ;
	height: 20px ;
	margin-right: 2px ;
	text-indent: -200px ;
	width: 20px ;
}

.bbcode-color {
	margin-right: 5px;
}

#format-buttons .bbcode-button:hover {
	background-color: #C1D2EE ;
	border:1px solid #316AC5;
}

.bbcode-bold { background-image: url("images/bb_bold.png"); }

.bbcode-italic { background-image: url("images/bb_italic.png");}

.bbcode-underline { background-image: url("images/bb_underline.png");}

.bbcode-strikethrough {	background-image: url("images/bb_strikethrough.png");}

.bbcode-color { background-image: url("images/bb_color.png");}

.bbcode-img { background-image: url("images/bb_image.png");}

.bbcode-email { background-image: url("images/bb_email.png");}

.bbcode-quote { background-image: url("images/bb_quote.png");}

.bbcode-code { background-image: url("images/bb_code.png");}

.bbcode-list { background-image: url("images/bb_list.png");}

.bbcode-list1 { background-image: url("images/bb_list1.png");}

.bbcode-listitem { background-image: url("images/bb_listitem.png");}

.bbcode-url { background-image: url("images/bb_url.png");}

.bbcode-center { background-image: url("images/bb_align_center.png");}

.bbcode-justify { background-image: url("images/bb_align_justify.png");}

.bbcode-right { background-image: url("images/bb_align_right.png");}

.bbcode-spoiler { background-image: url("images/bb_spoiler.png");}

.bbcode-yt { background-image: url("images/bb_yt.png"); }

.bbcode-flash { background-image: url ("images/bb_flash.png"); }
